{% extends 'layouts/application.html' %}
{% block content %}
  {% include "main/hero.html" %}
  {% include "main/production.html" %}
  {% include "main/product.html" %}
  {% include "main/use.html" %}
  {% include "main/customers.html" %}
  {% include "main/docs.html" %}
  {% include "main/feedback.html" %}
  {% include "main/map.html" %}
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>window.APP = {"1":["55.754943","37.557048"]};</script>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/app.js"></script>
{% endblock %}
