body {
  min-width: 1280px;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.cover {
  overflow: hidden;

  &-background {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.vertical-align-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
