body {
	min-width: 1280px;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.cover {
  overflow: hidden;

  &-background {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
} 