.footer {
	background-color: theme-color("dark");

	&,
	&-container {
		height: 4.375rem;
	}

	&-text {
		font-size: ($font-size-base * .8125);
		color: $white;
	}

	&-link {
		color: $white;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}